
body{

    background-image: url("https://i.pinimg.com/originals/49/06/6c/49066cd709a43dcc797134a62b6eb91f.jpg" );
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav{
    background-color: rgb(90, 90, 90);
    width: 100%;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.lista a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px 50px;
}
.menu .lista{
    display: inline-block;

}
.lista-r{
    float: right;
}
.lista a:hover{
    background-color: tomato;
     
}
label{
    font-size: 22px;
    font-weight: 600;
    color: rgb(61, 55, 55);
    
}
#datos{
    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: left;  
    padding-left: 25px;
    padding: 2%;
}
#fecha{
    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: left;
    padding-left: 25px;
    padding: 2%;
}
#contenedor{
    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: left;
    padding-left: 25px;
   padding: 2%;
    
}
#body{
    width: 650px;
    height: 420px;
    background-color: rgb(148, 204, 233);
    position: absolute;
    top: 25%;
    left: 35%;
    
}
input{
    border: 0;
    padding: 5px;
    font-size: 18px;
    margin: 0px;
    
}  
button[type="submit"]{
    background-color: red;
    color: white;
    padding: 10px;
    font-family: 20px;
    font-weight: 600;
    border-radius: 5px;
   
}
main{
    text-align: center;
   padding: 10%;
}